body {
    background-color: #eee;
}

/*Propiedad de float  y opacidad */

img {
    /*Quien tiene float hace que el resto se acomode a el*/
    float: right;    
}

img:hover {
    opacity: 0.9; /*0 trasparente, 1 totalmente el color*/ 
}


/*Combinaciones de selectores*/
/*Por ejemplo quiero un p dentro de div y no el resto*/

div p {
    color: #f00;
}